<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Firebase Authentication</title>
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

<div id="app">
  <h1>Vue School - Firebase Authentication</h1>
  <div v-if="authUser">
    <h2>Signed in as {{authUser.email}}
      <img v-if="linkedGoogle" src="https://www.gstatic.com/mobilesdk/160512_mobilesdk/auth_service_google.svg" alt="">
      <img v-if="linkedPassword" src="https://www.gstatic.com/mobilesdk/160409_mobilesdk/images/auth_service_email.svg" alt="">
    </h2>
    <img :src="authUser.photoURL" height="150">
    <p>What's up, {{authUser.displayName || 'friend'}}?</p>
    <button @click="signOut">Sign out</button>
    <button v-if="!linkedGoogle" @click="linkGoogle">Link Google Account</button>
    <button v-else @click="unlinkGoogle">Unlink Google Account</button>

    <form @submit.prevent="updateProfile">
      <h2>Update Profile</h2>
      <input v-model="displayName" placeholder="Your name">
      <input v-model="photoURL" placeholder="Your photo url">
      <button>Update</button>
    </form>

    <form @submit.prevent="updateEmail">
      <h2>Update Email</h2>
      <input v-model="email" placeholder="Your email">
      <button>Update</button>
    </form>

    <form @submit.prevent="updatePassword">
      <h2>Update Password</h2>
      <input type="password" v-model="newPassword" placeholder="Your password">
      <button>Update</button>
    </form>
  </div>

  <div v-else>
    <form @submit.prevent="register">
      <h2>Register</h2>
      <input type="email" v-model="email" placeholder="Type your email">
      <input type="password" v-model="password" placeholder="Pick your password">
      <button>Register</button>
    </form>

    <form @submit.prevent="signIn">
      <h2>Sign in</h2>
      <input type="email" v-model="email" placeholder="Type your email">
      <input type="password" v-model="password" placeholder="Type your password">
      <button>Sign In</button>
    </form>

    <div>
      <h2>Sing in with Google</h2>
      <button @click="signInWithGoogle">Sign In</button>
    </div>
  </div>
</div>

<script>
  // Initialize Firebase
  const config = {
    apiKey: "AIzaSyCcT0BUbiZiKUuCw3AtB4U8UExHQkjI2e8",
    authDomain: "vueschool-firebase-au.firebaseapp.com",
    databaseURL: "https://vueschool-firebase-au.firebaseio.com",
    projectId: "vueschool-firebase-au",
    storageBucket: "vueschool-firebase-au.appspot.com",
    messagingSenderId: "795856805888"
  }
  firebase.initializeApp(config)

  new Vue({
    el: '#app',

    data: {
      email: '',
      password: '',
      displayName: null,
      photoURL: null,
      newPassword: null,
      authUser: null
    },

    computed: {
      linkedGoogle () {
        return !!this.authUser.providerData.find(provider => provider.providerId === 'google.com')
      },
      linkedPassword () {
        return !!this.authUser.providerData.find(provider => provider.providerId === 'password')
      }
    },

    methods: {
      register () {
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
          .catch(error => alert('🤕' + error.message))
      },
      signOut () {
        firebase.auth().signOut()
      },
      signIn () {
        firebase.auth().signInWithEmailAndPassword(this.email, this.password)
          .catch(error => alert('🤕' + error.message))
      },
      signInWithGoogle () {
        const provider = new firebase.auth.GoogleAuthProvider()
        firebase.auth().signInWithPopup(provider)
          .catch(error => alert('🤕' + error.message))
          .then(data => console.log(data.user, data.credential.accessToken))
      },
      linkGoogle () {
        const provider = new firebase.auth.GoogleAuthProvider()
        this.authUser.linkWithPopup(provider)
          .catch(error => alert('🤕' + error.message))
      },
      unlinkGoogle () {
        this.authUser.unlink('google.com')
      },
      updateProfile () {
        this.authUser.updateProfile({
          displayName: this.displayName,
          photoURL: this.photoURL
        })
      },
      updateEmail () {
        this.authUser.updateEmail(this.email)
      },
      updatePassword () {
        this.authUser.updatePassword(this.newPassword)
          .then(() => { this.newPassword = null })
          .catch(error => alert('🤕' + error.message))
      }
    },

    created () {
      firebase.auth().onAuthStateChanged(user => {
        this.authUser = user
        if (user) {
          this.displayName = user.displayName
          this.photoURL = user.photoURL
          this.email = user.email
        }
      })
    }
  })










</script>

</body>
</html>